@font-face{
	font-family:roboto;
	src : url('./font/roboto.ttf');
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:roboto;
}
.bg{
	position:absolute;
	z-index:-1;
	display:grid;
	grid-template-columns:50vw 50vw;
	grid-template-rows:100vh;
}
.left{
	background:#ffb3b3;
	grid-column:1/2;
}
.right{
	background:#99ffdd;
	grid-column:2/3;
}
body{
	display:grid;
	grid-template-columns:5vw 1fr 1fr 1fr 5vw; 
	grid-template-rows: 10vh 20vh 40vh 30vh;
	font-family:sans-serif;
}
nav{
	grid-column:2/5;
	grid-row:1/2;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo{
	color:white;
	font-size:2rem;
	font-family:roboto;
}
.nav-link{
	padding-left:2rem;
}
a{
	color:rgba(0,0,0,0.5);
	font-size:.8rem;
	font-weight:bold;
	text-decoration:none;
	font-family:roboto;
}
.main-heading{
	grid-column:2/3;
	grid-row:3/4;
	color:white;
	font-size:5rem;
	font-weight:bold;
	font-family:roboto;
}
.headphone-image{
	grid-column:3/4;
	grid-row:3/4;
	display:flex;
	justify-content:center;
}
img{
	max-width:100%;
	height:130%;
	position:relative;
	top:-3rem;
}
.play-area{
	grid-column:4/5;
	grid-row:3/4;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}
.play-area>p{
	color:rgba(0,0,0,0.6);
	font-size:1rem;
	font-weight:bold;
}
.play{
	cursor:pointer;
	width:3rem;
	height:3rem;
	border:none;
	border-radius:50%;
	box-shadow: 1px 1px rgba(0,0,0,0.2);
	margin-left:1rem;
}
audio{
	display:none;
}
button:focus{
	outline:none; 	
}













